# Database
SUPABASE_DATABASE_URL=postgresql://user:password@db.supabase.co:5432/postgres

# APIs
UAZAPI_BASE_URL=https://free.uazapi.com
UAZAPI_TOKEN=your_uazapi_token

RAPIDAPI_KEY=your_rapidapi_key
RAPIDAPI_HOST=instagram-scraper-api2.p.rapidapi.com

# Server
PORT=3001
NODE_ENV=development
